<h2> Login </h2>

<style>
    label
    {
        display: block;
        width: 150px;
    }
</style>

<form action = '/login' method = 'POST'>
    <div>
        <label for = 'email'> email </label>
        <input type = 'email' id = 'email' name = 'email' required> 
    </div>
    <div>
        <label for = 'password'> password </label>
        <input type = 'password' id = 'password' name = 'password' required> 
    </div>
    <button type = 'submit'> Login </button>
</form>

<div>
    <a href= "/register"> Register </a>
</div>
</br>
<div>
    <a href = "/"> Lobby </a>
</div>